div(ng-controller = 'accoController as acco')
  h1.page-header= title
  form(method="", action="").form-horizontal 
    .form-group
      .col-md-3
        input(type="text", placeholder="姓名" ng-model="acco.name").form-control
      .col-md-3
        input(type="text", placeholder="客户编码").form-control
      .col-md-3  
        input(type="text", placeholder="水表编码").form-control#meterID
      .col-md-3
        button(type="button").btn.btn-link 高级查询
        button(type="button").btn.btn-info 查找
        button(type="button").btn.btn-info 开户
    .form-group
      .col-md-3  
        input(type="text", placeholder="身份证号").form-control
      .col-md-3  
        input(type="text", placeholder="安装地址").form-control#addre
  table(accotable)
