nav.navbar.navbar-default.dashboardNav
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapse(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        
      //左侧项目名   
      a.navbar-brand(href='#') iWater
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a(href='#')
            i.fa.fa-envelope.fa-fw
            i.fa.fa-caret-down
        li.dropdown
          a(href='#')
            i.fa.fa-tasks.fa-fw
            i.fa.fa-caret-down
        li.dropdown
          a(href='#')
            i.fa.fa-bell.fa-fw
            i.fa.fa-caret-down
        li
          a(href='#')
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
